div.pie-exercises-modal {
  top: 20px;
  left: 30px;
  right: 30px;
  bottom: 20px;
  display: flex;
  z-index: 2500;
  position: fixed;
  background: white;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: flex-start; }
  div.pie-exercises-modal h2 {
    text-align: center;
    position: relative; }
  div.pie-exercises-modal .close-button {
    right: 0;
    top: -10px;
    font-size: 15px;
    background: #ddd;
    position: absolute; }

