/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./node_modules/perfect-scrollbar/css/perfect-scrollbar.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/modules/pistacja/modals/styles.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
*[data-pie-modal] {
  padding: 15px;
  max-width: 600px;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  background: white;
  border-radius: 13px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
  opacity: 0;
  margin-top: -15px;
  visibility: hidden;
  transition: opacity 0.3s ease 0.1s, margin-top 0.3s ease-in-out 0.1s, visibility 0s linear 0.4s;
}
*[data-pie-modal] .scroll-content {
  height: 100%;
  overflow: hidden;
  position: relative;
}
*[data-pie-modal].modal-open {
  opacity: 1;
  margin-top: 0;
  visibility: visible;
  transition: visibility 0s linear, opacity 0.3s ease 0.2s, margin-top 0.3s ease-in-out 0.2s;
}
@media (max-width: 600px) {
  *[data-pie-modal] {
    max-width: 100%;
    margin: 1em;
  }
}

.pie-modal-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 3000;
  position: fixed;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease 0.2s, visibility 0s linear 0.5s;
}
.pie-modal-root.root-open {
  visibility: visible;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.4);
  transition: visibility 0s linear, background 0.3s ease;
}

button.remote-pie-modal-btn {
  display: none;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/joomla/html/com_videos/item/default/player/modules/exercises/styles.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
div.pie-player-exercises-modal {
  width: 100%;
}
div.pie-player-exercises-modal.fullscreen {
  min-height: 98%;
  max-width: 98%;
}
div.pie-player-exercises-modal.fullscreen:first-child {
  margin: 0;
}
@media (max-width: 600px) {
  div.pie-player-exercises-modal {
    display: block;
    width: 98%;
    border-radius: 0;
  }
}
div.pie-player-exercises-modal-container {
  width: 100%;
  display: flex;
  min-height: 480px;
  align-items: center;
  margin-bottom: auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}
@media (max-width: 600px) {
  div.pie-player-exercises-modal-container {
    width: auto;
  }
}
div.pie-player-exercises-modal-container > iframe {
  flex-grow: 1;
}
div.pie-player-exercises-modal .header {
  margin: 0;
  width: 100%;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
}
div.pie-player-exercises-modal .header h2 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.pie-player-exercises-modal .header div {
  display: flex;
}
div.pie-player-exercises-modal .subheader {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 0.5em;
  text-overflow: ellipsis;
}
div.pie-player-exercises-modal .controllers {
  width: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
}
div.pie-player-exercises-modal .controllers > button, div.pie-player-exercises-modal .controllers > a {
  color: white;
  border: none;
  display: block;
  font-size: 15px;
  cursor: pointer;
  font-weight: 300;
  padding: 6px 12px;
  border-radius: 30px;
  background: #80b742;
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: background 0.3s ease;
}
div.pie-player-exercises-modal .controllers > button:hover, div.pie-player-exercises-modal .controllers > a:hover {
  background: #669234;
}
div.pie-player-exercises-modal .controllers > button:disabled, div.pie-player-exercises-modal .controllers > button.disabled, div.pie-player-exercises-modal .controllers > a:disabled, div.pie-player-exercises-modal .controllers > a.disabled {
  color: #666;
  background: #ccc;
  pointer-events: none;
}
