/*!*******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/modules/share/styles.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************/
*[data-share-dropdown] {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  padding: 0.5em;
  background-color: white;
  border-radius: 0.5em;
  margin-top: 0.5em;
  align-items: flex-start;
  border: 1px solid var(--border-color);
}
*[data-share-dropdown] > a, *[data-share-dropdown] > button {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  text-decoration: none;
  color: var(--text-color);
}
*[data-share-dropdown] > a:hover, *[data-share-dropdown] > button:hover {
  color: var(--text-color);
  background-color: var(--secondary-color-lite);
}
*[data-share-dropdown] > a:not(:last-child), *[data-share-dropdown] > button:not(:last-child) {
  margin-bottom: 0.5em;
}
*[data-share-dropdown] > a svg, *[data-share-dropdown] > button svg {
  margin-right: 1em;
}
