div.pie-player-exercises-modal {
  width: 100%;

  &.fullscreen {
    min-height: 98%;
    max-width: 98%;
    &:first-child {
      margin: 0;
    }
  }

  // Modifiers.
  @media (max-width: 600px) {
    display: block;
    width: 98%;
    border-radius: 0;
  }

  &-container {
    width: 100%;
    display: flex;
    min-height: 480px;
    align-items: center;    
    margin-bottom: auto;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;

    @media (max-width: 600px) {
      width: auto;
    }

    & > iframe {
      flex-grow: 1;
    }
  }

  & .header {
    margin: 0;
    width: 100%;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;

    & h2 {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & div {
      display: flex;
    }
  }

  & .subheader {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 0.5em;    
    text-overflow: ellipsis;
  }

  & .controllers {
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: space-around;

    & > button,
    & > a {
      color: white;
      border: none;
      display: block;
      font-size: 15px;
      cursor: pointer;
      font-weight: 300;
      padding: 6px 12px;
      border-radius: 30px;
      background: #80b742;
      display: inline-block;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      transition: background 0.3s ease;

      &:hover {
        background: #669234;
      }

      &:disabled,
      &.disabled {
        color: #666;
        background: #ccc;
        pointer-events: none;
      }
    }
  }
}
