/* BUTTONS */

button, .button {
  margin: 0;
  padding: 0.4em 0.8em;
    
  color: inherit;
  font-size: 1em;
  line-height: inherit;
  font-family: inherit;
  
  border: none;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  
  align-items: center;
  display: inline-flex;

  -moz-appearance: none;
  -webkit-appearance: none;
  
  & > * {
    pointer-events: none;
  }

  // ---- Modifiers ----------------

  &.ghost {    
    padding: 0;
    background: transparent;
  }
 
  &.rounded {
    border-radius: 2em;
  }

  &.as-text {
    padding: 0;    
    text-align: left;
  }
}

/* DISPLAY */

.no-shrink {
  flex-shrink: 0;
}

.as-text, .as-text:hover, .as-text:visited  {  
  color: inherit;
  font-size: 1em;   
  text-decoration: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}

.classic-list-style {
  & ol {
    list-style: decimal;
    padding-left: 1.5em;
  }

  & ul {
    list-style: disc;
    padding-left: 1.5em;
  }

  & ol, & ul {
    & > li {
      margin: 0.25em 0;
    }
  }
}

.no-click {
  pointer-events: none;
}

/* TEXT ALIGNMENT & DUSPLAY */

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
  
  &-uppercase {
    text-transform: uppercase;
  }
  
  &-capitalize {
    text-transform: capitalize;
  }
  
  &-first-letter-caps::first-letter {
    text-transform: capitalize;
  }
}
