/* UTILS */

:root {
  --pie-space: 0.5rem;
  --pie-space-2x: 1rem;
  --pie-space-3x: 1.5rem;
  --pie-space-4x: 2rem;
}

.rail {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 1em;
  }

  &.--zero > * + * {
    margin-left: 0em;
  }

  &.--small > * + * {
    margin-left: 0.3em;
  }

  &.--medium > * + * {
    margin-left: 0.5em;
  }
  
  &.--large > * + * {
    margin-left: 1.5em;
  }
}

.rail-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > * {
    margin-right: 1em;
    margin-bottom: 0.5em;
  }

  &.--zero > * {
    margin-right: 0em;
    margin-bottom: 0em;
  }

  &.--small > * {
    margin-right: 0.3em;
    margin-bottom: 0.15em;
  }

  &.--medium > * {
    margin-right: 0.5em;
    margin-bottom: 0.25em;
  }
  
  &.--large > * {
    margin-right: 1.5em;
    margin-bottom: 1em;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  
  & > * + * {
    margin-top: 1em;
  }

  &.--zero > * + * {
    margin-top: 0em;
  }

  &.--small > * + * {
    margin-top: 0.3em;
  }
 
  &.--medium > * + * {
    margin-top: 0.5em;
  }
  
  &.--large > * + * {
    margin-top: 1.5em;
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

/* PLACEMENT */

.--v-start {
  align-items: flex-start;
}

.--v-center {
  align-items: center;
}

.--v-stretch {
  align-items: stretch;
}

.--v-end {
  align-items: flex-end;
}

.--h-start {
  justify-content: flex-start;
}

.--h-center {
  justify-content: center;
}

.--h-spread {
  justify-content: space-between;
}

.--h-space-around {
  justify-content: space-around;
}

.--h-end {
  justify-content: flex-end;
}

.--stretch {
  width: 100%;
}

.--expand-content {
  & > * {
    width: 100%;
  }
}


/* SPACING */ 

 /* Spacing outside */

 .--space {
  margin: var(--pie-space);
}

.--space-2x {
  margin: var(--pie-space-2x);
}

.--space-3x {
  margin: var(--pie-space-3x);
}

.--space-4x {
  margin: var(--pie-space-4x);
}

.--space-t {
  margin-top: var(--pie-space);
}

.--space-t-2x {
  margin-top: var(--pie-space-2x);
}

.--space-t-3x {
  margin-top: var(--pie-space-3x);
}

.--space-t-4x {
  margin-top: var(--pie-space-4x);
}
    
.--space-l {
  margin-left: var(--pie-space);
}

.--space-l-2x {
  margin-left: var(--pie-space-2x);
}

.--space-l-3x {
  margin-left: var(--pie-space-3x);
}

.--space-l-4x {
  margin-left: var(--pie-space-4x);
}

.--space-b {
  margin-bottom: var(--pie-space);
}

.--space-b-2x {
  margin-bottom: var(--pie-space-2x);
}

.--space-b-3x {
  margin-bottom: var(--pie-space-3x);
}

.--space-b-4x {
  margin-bottom: var(--pie-space-4x);
}

.--space-r {
  margin-right: var(--pie-space);
}

.--space-r-2x {
  margin-right: var(--pie-space-2x);
}

.--space-r-3x {
  margin-right: var(--pie-space-3x);
}

.--space-r-4x {
  margin-right: var(--pie-space-4x);
}

.--space-h {
  margin-left: var(--pie-space);
  margin-right: var(--pie-space);
}

.--space-h-2x {
  margin-left: var(--pie-space-2x);
  margin-right: var(--pie-space-2x);
}

.--space-h-3x {
  margin-left: var(--pie-space-3x);
  margin-right: var(--pie-space-3x);
}

.--space-h-4x {
  margin-left: var(--pie-space-4x);
  margin-right: var(--pie-space-4x);
}

.--space-v {
  margin-top: var(--pie-space);
  margin-bottom: var(--pie-space);
}

.--space-v-2x {
  margin-top: var(--pie-space-2x);
  margin-bottom: var(--pie-space-2x);
}

.--space-v-3x {
  margin-top: var(--pie-space-3x);
  margin-bottom: var(--pie-space-3x);
}

.--space-v-4x {
  margin-top: var(--pie-space-4x);
  margin-bottom: var(--pie-space-4x);
}

/* Space for flex containers - push content */

.--push-top {
  margin-bottom: auto;
}

.--push-left {
  margin-right: auto;
}

.--push-right {
  margin-left: auto;
}

.--push-bottom {
  margin-top: auto;
}

/* Spacing Inset */

.--space-i {
  padding: var(--pie-space);
}

.--space-2x-i {
  padding: var(--pie-space-2x);
}

.--space-3x-i {
  padding: var(--pie-space-3x);
}

.--space-4x-i {
  padding: var(--pie-space-4x);
}

.--space-t-i {
  padding-top: var(--pie-space);
}

.--space-t-2x-i {
  padding-top: var(--pie-space-2x);
}

.--space-t-3x-i {
  padding-top: var(--pie-space-3x);
}

.--space-t-4x-i {
  padding-top: var(--pie-space-4x);
}

.--space-l-i {
  padding-left: var(--pie-space);
}

.--space-l-2x-i {
  padding-left: var(--pie-space-2x);
}

.--space-l-3x-i {
  padding-left: var(--pie-space-3x);
}

.--space-l-4x-i {
  padding-left: var(--pie-space-4x);
}

.--space-b-i {
  padding-bottom: var(--pie-space);
}

.--space-b-2x-i {
  padding-bottom: var(--pie-space-2x);
}

.--space-b-3x-i {
  padding-bottom: var(--pie-space-3x);
}

.--space-b-4x-i {
  padding-bottom: var(--pie-space-4x);
}

.--space-r-i {
  padding-right: var(--pie-space);
}

.--space-r-2x-i {
  padding-right: var(--pie-space-2x);
}

.--space-r-3x-i {
  padding-right: var(--pie-space-3x);
}

.--space-r-4x-i {
  padding-right: var(--pie-space-4x);
}

/* Verical & Horizontal Spacing */

.--space-h-i {
  padding-left: var(--pie-space);
  padding-right: var(--pie-space);
}

.--space-h-2x-i {
  padding-left: var(--pie-space-2x);
  padding-right: var(--pie-space-2x);
}

.--space-h-3x-i {
  padding-left: var(--pie-space-3x);
  padding-right: var(--pie-space-3x);
}

.--space-h-4x-i {
  padding-left: var(--pie-space-4x);
  padding-right: var(--pie-space-4x);
}

.--space-v-i {
  padding-top: var(--pie-space);
  padding-bottom: var(--pie-space);
}

.--space-v-2x-i {
  padding-top: var(--pie-space-2x);
  padding-bottom: var(--pie-space-2x);
}

.--space-v-3x-i {
  padding-top: var(--pie-space-3x);
  padding-bottom: var(--pie-space-3x);
}

.--space-v-4x-i {
  padding-top: var(--pie-space-4x);
  padding-bottom: var(--pie-space-4x);
}

/* Opacity */

.--opacity-05 {
  opacity: 0.5;
}

.--opacity-35 {
  opacity: 0.35;
}

.--opacity-09 {
  opacity: 0.9;
}

.--opacity-1 {
  opacity: 1.0;
}

/* Separator */

hr {
  height: 1px;
  border: none;
  display: block;
  margin: 15px 0;
  border-bottom: 1px solid;
  @include var(border-color, border-color);

  &.space {
    border: none;
  }

  &.huge {
    margin: 45px 0;
  }

  &.large {
    margin: 35px 0;
  }

  &.medium {
    margin: 20px 0;
  }

  &.small {
    margin: 5px 0;
  }
}