<div class="pie-infographics">
  <div class="pie-infographics-yellow">
    <img src="./templates/pistacja/images/yellow.svg" alt="filmy"/>
    <div class="pie-infographics-text">     
      <h3><em>{{ data.views|replace({" ": "<span> </span>" })|raw }}</em>WYŚWIETLEŃ</h3>
      <h6>wideolekcji i webinarów</h6>
    </div>
  </div>
  <div class="pie-infographics-pink">
    <img src="./templates/pistacja/images/pink.svg" alt="wyświetlenia"/>
    <div class="pie-infographics-text">
      <h3><em>{{ data.videos }}</em>FILMÓW</h3>
      <h6>sprawdzonych przez nauczycieli</h6>
    </div>
  </div>
  <div class="pie-infographics-green">
    <img src="./templates/pistacja/images/green.svg" alt="postęp"/>
    <div class="pie-infographics-text">
      <h3><em>100%</em>ZGODNOŚCI</h3>
      <h6>z podstawą programową</h6>
    </div>
  </div>
</div>
