/* CHALK UNDERLINE BUBBLE */

.chalk-underline {
  padding: 15px;
  cursor: pointer;
  position: relative;
  color: inherit;
  text-decoration: none;

  // Underline.
  &::before {
    top: 100%;
    left: 50%;
    content: "";
    width: 100%;
    height: 6px;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    background-repeat: repeat-x;
    transition: opacity .4s ease;
    background-image: url(~images/underline-fat.svg);
  }

  &:hover::before {
    opacity: 1;
  }

  // Modifiers.
  &:focus, &.underline {
    outline: none;
    &::before {
      opacity: 1;
    }
  }
}

// Combine two buttons into one (top menu item).
.chalk-underline-bubble {
  @extend .chalk-underline;
  @extend .bubble-button;
  padding: 10px 15px;
  &::before {
    top: initial;
    bottom: -10px;
  }
}
