// Pistacja loader animation.
.pie-loader {
  position: relative;
  width: 35px;
  height: 50px;

  & > i, & > img {
    position: absolute;
    animation: bounce 2s infinite;
  }

  &::after {
    left: 50%;
    bottom: -20px;
    font-size: 13px;
    position: absolute;
    white-space: nowrap;
    content: attr(data-message);
    transform: translateX(-50%);
  }

  &::before {
    content: "";
    left: 9px;
    width: 12px;
    height: 1px;
    bottom: 14px;
    display: block;
    border-radius: 50%;
    position: absolute;
    animation: scale 2s infinite;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.4);
  }

  // Modifiers.
  &--center {
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-8px);
  }

  50% {
      transform: translateY(0px);
  }

  100% {
      transform: translateY(-8px);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.5;
  }
}
