.pie-newsletter {
  margin-bottom: 2.5em;
  --subjects-size: 220px;
}

.subjects-grid {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(var(--subjects-size), 1fr));
}

.subject-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1em 1em 1em;
  border-radius: 13px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: background-color .3s ease, box-shadow .3s ease;
  
  & > *:not(input) {
    pointer-events: none;
    user-select: none;
  }

  &:hover  {      
    box-shadow: 0 1px 15px -8px rgba(0, 0, 0, 0.7);
  }

  & > input {
    opacity: 0;
    height: 0;

    &:checked ~ span {
      @include var(color, font-color);
      &::before {    
        transition: box-shadow .3s ease;    
        box-shadow: 0 0 0 2px white inset, 0 0 0 6px var(--primary-color) inset;
      }
    }

    &:checked ~ img {    
      opacity: 1;
      filter: saturate(1);
    }
    
  }

  & > img {
    width: 70px;
    height: auto;
    margin-bottom: 1em;
    
    opacity: 0.4;
    filter: saturate(0);
    transition: opacity .3s ease, filter .3s ease;
  }

  & > span {
    border-radius: inherit;
    @include var(color, border-color);
    &::before {
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      position: absolute;
      border-radius: inherit;
      box-shadow: 0 0 0 0 transparent inset, 0 0 0 0 transparent inset;  
      transition: box-shadow .3s ease;      
    }
  }
}
