{% if params.get('show_page_heading') %}
<div class="page-header">
  <h1>{{ params.get('page_heading') }}</h1>
</div>
{% endif %}


{{ item.text|raw }}

{% if item.pagination and item.pagination and item.paginationposition and item.paginationrelative %}
	{{ item.pagination|raw }}
{% endif %}
