.pie-blog {
  width: 100%;
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 990px) {
    padding: 20px 15px;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 5%;

    @media (min-width: 630px) and (max-width: 915px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 630px) {
      grid-template-columns: 1fr;
    }
  }

  &-preview {
    display: block;
    // overflow: hidden;
    border-radius: 2px;
    margin-bottom: 20px;
    border-radius: 13px;

    @supports not (display: grid) {
      width: 30%;

      @media (min-width: 630px) and (max-width: 915px) {
        width: 45%;
      }

      @media (max-width: 630px) {
        width: 100%;
      }
    }

    @supports (display: grid) {
      width: 100%;
    }

    &-cover {
      display: block;
      position: relative;

      &::before {
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 80px;
        height: 80px;
        color: white;
        display: flex;
        content: "";

        position: absolute;
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        @include var(background, primary-color);
        transform: translate3d(-50%, -50%, 0) scale(0.8);
        transition: transform 0.2s ease-in, opacity 0.2s ease-in;
      }

      &:after {
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 60px;
        height: 60px;
        position: absolute;
        transition: opacity 0.3s ease-in;
        transform: translate(-50%, -50%);

        content: "";
        pointer-events: none;
        display: inline-block;
        background-image: url(~images/icons/seed-white.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      &:hover::before {
        opacity: 0.85;
        transform: translate3d(-50%, -50%, 0) scale(1);
      }

      &:hover::after {
        opacity: 1;
      }

      & img {
        height: auto;
        max-width: 100%;
        border-radius: 13px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
      }
    }

    &-content {
      padding: 5px 10px;

      &-title {
        margin: 10px 0;
        font-size: 20px;
        font-family: "KGSolid", sans-serif;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
