.pie-search-results {

  $mobile-breakpoint: 990px;

  @media (max-width: $mobile-breakpoint) {
    margin: 0 -1.5em 0;

    h1 {
      padding: 0 0.5em;
    }
  }


  // ---- Searchbox ----------------

  &-search {
    width: 100%;
    display: flex;
    font-size: 1.1em;
    position: relative;
    align-items: center;

    padding: 0 0.5em;
    border-radius: 2em;

    border: 1px solid;
    @include var(border-color, border-color);


    @media (max-width: $mobile-breakpoint) {
      margin: 0 1em;
      width: auto;
    }

    &>input {
      width: 100%;
      border: none;
      font-size: inherit;
      padding: 0.6em 0.5em 0.45em 0.2em;

      @include var(color, primary-color);

      &:focus {
        outline: none;

        &~span.pie-results-search-focus {
          box-shadow: 0 0 0 3px var(--primary-color);
          border-radius: inherit;
          opacity: 0.65;
        }
      }
    }

    &-focus {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      pointer-events: none;
      box-shadow: 0 0 0 transparent;
      transition: box-shadow .3s ease;
    }
  }


  // ---- Filters bar ----------------

  &-filters {
    display: flex;
    border-radius: 2em;
    padding: 0.6em 1.2em;
    border: 1px solid;
    @include var(border-color, border-color);

    & .label {
      margin-right: 0.5em;
    }

    @media (max-width: $mobile-breakpoint) {
      border: none;
      margin-top: 0;
      flex-direction: column;

      & .label {
        margin-left: 0.3em;
        margin-bottom: 0.5em;
      }

      & .chips {
        display: flex;
        flex-wrap: wrap;

        &>* {
          margin-right: 1em;
          margin-bottom: 0.5em;
        }
      }
    }
  }


  // ---- UA bar ----------------

  .ua-toggle-bar {
    z-index: 0;
    padding: 0.5em;
    position: relative;
    border-radius: 0.3em;
    background-color: #e4e4e4;

    & .text {
      text-align: center;
    }

    &.active::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      content: "";
      border-radius: 0.4em;
      position: absolute;
      background-color: var(--pie-green);
    }

    & .pie-switch {
      border-radius: 1em;
      background-color: var(--pie-gray-300);
    }

    & img {
      margin-top: 0.25em;
    }

    @media (max-width: 565px) {
      flex-direction: column;
      margin-top: 0;

      & .text {
        flex-direction: column;
      }

      & .pie-switch {
        margin-top: 1em;
      }
    }

  }

  // ---- Tabs bar ----------------

  &-tabs {
    & .active {
      @include var(color, primary-color);

      &>.pie-badge {
        color: white;
        @include var(background-color, primary-color);
      }
    }

    @media (max-width: $mobile-breakpoint) {
      width: 100%;
      display: flex;
      margin-top: 0;
      max-height: 0;
      overflow: hidden;
      flex-direction: column;
      transition: max-height 0.4s ease;

      &.active {
        max-height: 300px;
      }

      border-top: 1px solid;
      @include var(border-color, border-color);

      &>div {
        width: 100%;

        &:first-child {
          flex-direction: column;
        }

        &:last-child {
          padding-top: 0.5em;
        }
      }

      & a.tab {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        border-bottom: 1px solid;
        @include var(border-color, border-color);

        &::after {
          display: none;
        }
      }
    }

  }

  // ---- Mobile tabs ----------------

  &-tabs-mobile {
    margin-top: 0;
    display: none;
    cursor: pointer;

    @media (max-width: $mobile-breakpoint) {
      display: flex;
      margin-top: 0.5em;
    }

    & .rotate {
      transition: transform .3s ease;
    }

    &.active .rotate {
      transform: rotate(180deg);
    }
  }

  // ---- Resuts list ----------------

  &-list {
    display: flex;
    margin-top: 1em;
    flex-direction: column;

    @media (max-width: $mobile-breakpoint) {
      padding: 1em;
    }

    &>*+* {
      margin-top: 1em;
    }
  }

  // ---- Result row ----------------

  &-row {
    display: grid;
    gap: 0.5em 1.5em;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 2em minmax(126px, auto);
    border-bottom: 1px solid;

    padding-bottom: 1.5em;
    @include var(border-color, border-color);

    &>h2 {
      grid-column: 1/3;
    }

    @media (max-width: 590px) {
      grid-template-rows: auto;
      grid-template-columns: 1fr;

      &>h2 {
        grid-column: 1/2;
      }
    }
  }
}